@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome in @Model.AppName</h1>
    <a class="btn btn-primary" href="/Goods" role="button">Go To Goods</a>
</div>
